.main{
  padding: 1rem;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  margin-top: 0.8rem;
}

.promo{
  display: flex;
}

.promo marquee{
  font-size: 0.8rem;
}

form{
  display: flex;
  gap: 1rem;
}

.copyright{
  font-size: 0.8rem;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.blinking-text {
  animation: blink 1s infinite;
  font-size: 0.8rem;
  color: brown;
  width: 10rem;
}
